<div>
  <h2>Climate Query</h2>
  <label for="city">City:</label>
  <input #city type="text" id="city" placeholder="Insert the name of the city">
  <button (click)="getWeather(city.value)">Check climate</button>

  <div id="info" *ngIf="weatherData">
    <h3> Meteorological information for {{ weatherData.location.city }}
      in {{ weatherData.location.country }}
    </h3>
    <p>Temperature: {{ weatherData.temperature.celsius.toFixed(0) }}</p>
    <p>Description: {{ weatherData.description }}</p>
    <p>Humidity: {{ weatherData.humidity }}</p>
  </div>

  <div>
    <form action="#">
      <label for="country">Country </label>
      <select name="countries" id="country">
        <option value="hide"></option>
        <option value="es">Spain</option>
        <option value="gb">United Kingdom</option>
        <option value="fr">France</option>
        <option value="pt">Portugal</option>
        <option value="cn">China</option>
        <option value="us">United States</option>
        <option value="br">Brazil</option>
        <option value="jp">Japan</option>
        <option value="de">Germany</option>
        <option value="nl">Netherlands</option>
        <option value="in">India</option>
      </select>
    </form>
  </div>

  <div id="table">
    <table>
      <tr>
        <th>Pais</th>
        <th>temperatura</th>
        <th>Descripción</th>
        <th>humedad</th>
      </tr>
      <tr>
        <td>londres</td>
        <td>14</td>
        <td>Clear</td>
        <td>14</td>
      </tr>
    </table>
  </div>

</div>
